SECRET_KEY=replace-this-with-your-own-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=

# Set this when you connect Supabase Postgres.
DATABASE_URL=
USE_SQLITE_FOR_TESTS=True

# Set these when you connect Supabase Storage for avatars.
SUPABASE_STORAGE_ENABLED=False
SUPABASE_STORAGE_ACCESS_KEY_ID=
SUPABASE_STORAGE_SECRET_ACCESS_KEY=
SUPABASE_STORAGE_BUCKET_NAME=
SUPABASE_STORAGE_ENDPOINT_URL=
SUPABASE_STORAGE_PUBLIC_URL=
SUPABASE_STORAGE_REGION=eu-west-1
SUPABASE_STORAGE_QUERYSTRING_AUTH=False

# Production security. Keep True on Vercel.
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=60
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=True
